{% extends "base.html" %}

{% block content %}
<div class="content">
    <!-- Заголовок с градиентом -->
    <h2>Об авторе</h2>

    <!-- Карточка информации об авторе -->
    <div class="author-card">
        <div class="author-info">
            <p><strong>ФИО:</strong> <span class="highlight">Бондарева Ирина</span></p>
            <p><strong>Группа:</strong> <span class="highlight">P3122</span></p>
            <p><strong>Лабораторная:</strong> <span class="highlight">#9 CRUD для приложения отслеживания курсов валют</span></p>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


